@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-meri: "Merienda", cursive;
  --font-pop: "Poppins", sans-serif;
  --text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
  --drop-shadow-img: -6px 8px 15px rgba(0, 0, 0, 0.4);
  --color-primary: #ac1a00;
  --color-regal-primary: #f97316;
  --color-cola: "#ac1a00";
}

@utility container {
  width: 100%;
  /* margin-inline: auto; Center the container by default */
  padding-inline: 1rem; /* Add default horizontal padding */

  /* Apply custom max-widths using media queries and your custom properties */
  @media (width >= theme(--breakpoint-sm)) {
    max-width: var(--container-sm-max-width);
    padding-inline: 2rem; /* Custom padding for 'sm' and up */
  }

  @media (width >= theme(--breakpoint-md)) {
    max-width: var(--container-md-max-width);
  }

  @media (width >= theme(--breakpoint-lg)) {
    max-width: var(--container-lg-max-width);
    padding-inline: 4rem; /* Custom padding for 'lg' and up */
  }

  @media (width >= theme(--breakpoint-xl)) {
    max-width: var(--container-xl-max-width);
    padding-inline: 5rem;
  }

  @media (width >= theme(--breakpoint-2xl)) {
    max-width: var(--container-2xl-max-width);
    padding-inline: 6rem;
  }
}
